@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-table {
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: auto; /* Allows vertical scrolling */
    height: 90vh; /* Adjust based on your needs */
    /* For better appearance, you might want to add border or padding here */
}

table {
    height: 100%;
    border-collapse: collapse;
}
.dark {
    background-color: #1a202c; /* Dark background color */
    color: #ffffff; /* Light text color */
    /* Add any other dark mode styles here */
}
.dark #dataTable {
    background-color: #1a202c; /* Dark background color */
    color: #ffffff; /* Light text color */
    /* Add any other dark mode styles here */
}

/* Toggle switch styling */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

nav {
    height: 72px;
    width: -webkit-fill-available;
    position: fixed;
}

.body {
    margin-top: 72px;
}
