@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollable-table {
    overflow-x: auto; /* Allows horizontal scrolling */
    overflow-y: auto; /* Allows vertical scrolling */
    /* height: 90vh; Adjust based on your needs */
    /* For better appearance, you might want to add border or padding here */
}

table {
    height: 50%;
    border-collapse: collapse;
}
.dark {
    background-color: #1a202c; /* Dark background color */
    color: #ffffff; /* Light text color */
    /* Add any other dark mode styles here */
}
.dark #dataTable {
    background-color: #1a202c; /* Dark background color */
    color: #ffffff; /* Light text color */
    /* Add any other dark mode styles here */
}

/* Toggle switch styling */
.theme-switch-wrapper {
    display: flex;
    align-items: center;
}

nav {
    height: 72px;
    width: -webkit-fill-available;
    position: fixed;
}

.body {
    margin-top: 72px;
    display: flex;
    flex-direction: column;
    height: 90%;
}

.loader {
    border: 16px solid white; /* Light grey */
    border-top: 16px solid #1a202c; /* Blue */
    border-radius: 50%;
    width: 230px;
    height: 230px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
